force-app/main/default/flows/AA_Activity_Creation_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_To_Group_Events</name>
        <label>Assign To Group Events</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EventRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Activity_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Group_Events_0</name>
        <label>Assign To Group Tasks</label>
        <locationX>528</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Activity_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User</name>
        <label>Assign User</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Activity_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_0</name>
        <label>Assign User</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Activity_Plans.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Activity_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_0_0</name>
        <label>Assign User</label>
        <locationX>792</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Activity_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Event_Assignment</name>
        <label>Event Assignment</label>
        <locationX>264</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>EventRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Activity_Plans.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRecord.ActivityDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRecord.DurationInMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Activity_Plans.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRecord.Show_in_Panel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Group_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Assignmen</name>
        <label>Task Assignment</label>
        <locationX>528</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>TaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Activity_Plans.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Show_in_Panel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Group_Events_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Activity_Type</name>
        <label>Check Activity Type</label>
        <locationX>528</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Activity_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Activity_Plans.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Assignment</targetReference>
            </connector>
            <label>Event</label>
        </rules>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Activity_Plans.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Assignmen</targetReference>
            </connector>
            <label>Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Assign_User</name>
        <label>Check Assign User</label>
        <locationX>528</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_User_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Activity_Plans.Assign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User</targetReference>
            </connector>
            <label>Current User</label>
        </rules>
        <rules>
            <name>Specific_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Activity_Plans.Assign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specific User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_0</targetReference>
            </connector>
            <label>Specific User</label>
        </rules>
    </decisions>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+{!Loop_Through_Activity_Plans.autoactivity__Due__c}</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+{!Loop_Through_Activity_Plans.autoactivity__Due__c}</expression>
    </formulas>
    <interviewLabel>AA Activity Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AA Activity Creation Flow</label>
    <loops>
        <name>Loop_Through_Activity_Plans</name>
        <label>Loop Through Activity Plans</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Activity_Plan_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Assign_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Events</name>
        <label>Create Events</label>
        <locationX>176</locationX>
        <locationY>1286</locationY>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
        <inputReference>Events</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>176</locationX>
        <locationY>1406</locationY>
        <inputReference>Tasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Activity_Plan_Items</name>
        <label>Get Activity Plan Items</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Activity_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activity_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivityPlanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activity_Plan_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Activity_Plan_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivityPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>Events</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
