force-app/main/default/flows/Automate_Activities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>ActivityPlanChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Activity_Plan__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Automate Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automate Activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Automate_Activities</name>
        <label>Automate Activities</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Activity_Creation_Flow</targetReference>
        </connector>
        <fields>
            <name>Activity_Plan</name>
            <choiceReferences>ActivityPlanChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Activity Plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automate_Activities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Activity_Creation_Flow</name>
        <label>Call Activity Creation Flow</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <flowName>AA_Activity_Creation_Flow</flowName>
        <inputAssignments>
            <name>ActivityPlanId</name>
            <value>
                <elementReference>Activity_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
